#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* App */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #44a789;
  padding: 10px 0;
  z-index: 1000;
}

.content {
  margin-top: 10%;
}

.header-button {
  margin: 10px;
}

/* CreatePost CSS */
.create-post label {
  font-size: 20px;
  margin-bottom: 5px;
}

.create-post input[type="text"],
.create-post textarea {
  width: 500px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.create-post input[type="submit"] {
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.create-button {
  background-color: #5fbc91;
}

.create-button:hover {
  background-color: #3f7f61;
}

/* EditPost CSS */
.edit-post {
  margin-top: 10%;
}

.edit-post label {
  font-size: 20px;
  margin-bottom: 5px;
}

.edit-post input[type="text"],
.edit-post textarea {
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.edit-post input[type="submit"] {
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.update-button {
  margin-right: 10px;
  background-color: #5fbc91;
}

.update-button:hover {
  background-color: #3f7f61;
}

.delete-button {
  margin-left: 10px;
  background-color: #cb615a;
}

.delete-button:hover {
  background-color: #974842;
}

/* ReadCards CSS */
.read-posts-title {
  width: 100%;
  text-align: center;
}

.read-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.read-posts-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1300px;
  width: 100%;
}

/* Post CSS */
.post {
  backdrop-filter: blur(2px);
  border: 1px solid rgba(187, 187, 187, 0.497);
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 10px;
  margin-bottom: 25px;
  width: 370px;
  margin-right: 20px;
  background-color: rgba(100, 100, 100, 0.5);
}

.post-link{
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.post-link:hover {
  text-decoration: none; /* Remove underline on hover */
}

.post-link-button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.post-link-button:hover {
  background-color: #0073e6;
}

.post-container{
  align-items: center;
  padding-bottom:5px;
}

.post-img{
  width: 200px;
  height: auto;
}

.upvote-button {
  background-color: #64d180;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.upvote-button:hover {
  background-color: #4a9c5e;
}

/* PostInfo CSS */
.post-info-img {
  width: 500px;
}