#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* App */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #44a789;
  padding: 10px 0;
  z-index: 1000;
}

.content {
  margin-top: 10%;
}

.header-button {
  margin: 10px;
}

/* CreatePost CSS */
label {
  font-size: 20px;
  margin-bottom: 5px;
}

.create-post input[type="text"],
.create-post textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.create-button {
  background-color: #5fbc91;
}

.create-button:hover {
  background-color: #3f7f61;
}
